/* Reset default spacing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Oswald', sans-serif;
}

/* Header */
header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 32px;
}
.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Navigation Bar */
.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(33, 32, 32);
    padding: 10px 30px;
    border-bottom: 1px solid #ddd;
}

/* Logo */
.logo img {
    width: 100px;
    height: 100px;
}

/* Navigation Lists */
.nav-links,
.auth-links {
    list-style: none;
    display: flex;
    align-items: center;
}

/* Nav Items */
.nav-links li,
.auth-links li {
    padding: 10px 15px;
}

/* Links */
.nav-links li a,
.auth-links li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    transition: color 0.3s ease;
}

/* Hover effect */
.nav-links li a:hover,
.auth-links li a:hover {
    color: #007bff;
}

/* Login / Signup emphasis */
.auth-links li:last-child a {
    background-color: #007bff;
    color: #ffffff;
    padding: 6px 14px;
    border-radius: 4px;
}

.auth-links li:last-child a:hover {
    background-color: #0056b3;
    color: #ffffff;
}
.same-img{
    text-align: center ;
    border-radius: 10px;
    height: 50%;
    object-fit: cover;
}
.big-img{
    border-radius: 10px;
    height: 75%;
    object-fit: cover;
}
.view{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
#part-5{
    background-color: rgba(33, 32, 32, 1);
    padding: 10px 30px;
    border-bottom: 1px solid #ddd;
}
.nav-links-bottom{
    margin: 40px 0px;
    list-style: none;
    text-align: center;
    padding: 10px;
}
.nav-links-bottom li{
    padding: 10px 10px;
}
.nav-links-bottom li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s ease;
}
.nav-links-bottom li a:hover{
    color: #007bff;
}
.email-box{
    text-align: center;
    margin-top: 160px;
}
.email-box input[type="email"]{
    padding: 10px;
    width: 50%;
    border: none;
    border-radius: 5px;
}

.icon{
    text-align: center;
}
.icon a{
    color: white;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
}

.footer{
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    border-top: 1px solid #ddd;
}
.footer p{
    color: grey;
}
/*Signup Page*/
#signup{
    background-color: #f9f9f9;
}
.sign-up form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
}
/* Responsive (Mobile) */
@media (max-width: 768px) {
    .main-nav {
        flex-direction: column;
        align-items: center;
    }

    .nav-links,
    .auth-links {
        flex-direction: column;
        gap: 10px;
    }

    .logo img {
        margin-bottom: 10px;
    }
}
